html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Josefin Sans', sans-serif;
}

#logo{
  display: inline-block;
  vertical-align: top;
}
#introHead{
  font-family: 'Lobster', cursive;
}
.introText{
  display: inline-block;
  color: white;
}
#headJumbo{
  background-image: url(ganga.png);
  background-size: cover;

}
#head_btn{
  background-color: white;
  color: black;
  border-radius: 20px;
}

#navlog{
  max-height: 20%;
  max-width: 20%;
}
#content{
  font-family: 'Roboto', sans-serif;
  padding-bottom: 0px;
}
 #navbarSupportedContent a{
  padding-right: 190px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}
