html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Josefin Sans', sans-serif;
}
#content{
  font-family: 'Roboto', sans-serif;
}

#navlog{
  max-height: 20%;
  max-width: 20%;
}

#navbar{
  background-color: #ffff;
}
